<main class="app-layout">
  <ul class="user-common-name-list">
    <app-user-common-name
      *ngFor="let certificate of this.certificateList"
      [certificate]="certificate"
    ></app-user-common-name>
  </ul>
  <div *ngIf="getError()" class="user-info">
    {{getError()}}
  </div>
  <app-user-info
    class="user-info"
    *ngIf="!isAddCertificate && !getError()"
  >
  </app-user-info>
    <app-certificate-upload
      *ngIf="isAddCertificate && !getError()"
      class="user-info certificate-upload"
    ></app-certificate-upload>
  <div class="add-certificate">
    <button mat-button
      (click)="toggleIsAddCertificate()"
    >
      {{isAddCertificate ? 'Скасувати' : 'Додати'}}
    </button>
  </div>
</main>
